@use '../helpers/colors' as c;

@keyframes fade-in-top {
    from {
        transform: translateY(7.5rem);
        opacity: 0;
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(-7.5rem);
        opacity: 0;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(-7.5rem);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(7.5rem);
    }
}

@keyframes animate-scroll {
    50% {
        margin-top: 3rem;
    }
}

@keyframes animate-scroll-dot {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
        margin-top: .75rem;
    }
    60% {
        margin-top: 3rem;
        opacity: 1;
    }
    75%, 100% {
        margin-top: 3rem;
        opacity: 0;
    }
}

@keyframes to-top-btn {
    5% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(-200%);
    }
    51% {
        transform: translateX(-200%);
    }
    52% {
        transform: translateY(200%);
    }
}

@keyframes animate-popup-background {
    to {
        background-color: rgba(c.$black, .8);
        pointer-events: all;
    }
}

@keyframes animate-popup {
    from {
        transform: scale(.2);
        opacity: 0;
    }
}

@keyframes mobile-nav-item-line-show {
    from {
        width: 0;
        left: 0;
    }
    40%, to {
        width: 100%;
        left: 0;
    }
}

@keyframes mobile-nav-item-line-hide {
    from {
        width: 100%;
        left: 0;
    }
    to {
        width: 0;
        left: 100%;
    }
}

@keyframes mobile-nav-item-text-show {
    from {
        transform: translateY(100%);
    }
}

@keyframes show-nav-content {
    from {
        opacity: 0;
        visibility: hidden;
    }
}