@use '../helpers/sizes' as s;
@use '../helpers/mixins' as *;

.gallery {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    &__images {
        &-list {
            height: 100%;
            list-style: none;
            display: inline-flex;
            transition: transform .3s ease-out;
            cursor: grab;
        }

        &-item {
            height: 100%;
            width: s.$dish-gallery-width-normal;
            position: relative;
            user-select: none;

            @include respond(tab-port) {
                width: s.$dish-gallery-width-mobile;
            }
        }
    }
}
