@use '../helpers/sizes' as s;
@use '../helpers/colors' as c;
@use '../helpers/gradients' as g;
@use '../helpers/mixins' as *;

.dish-page {
    position: relative;
    display: flex;
    
    &__gallery {
        width: s.$dish-gallery-width-normal;
        height: 100vh;
        position: sticky;
        padding-top: s.$nav-bar-height;
        top: 0;
    }

    &__content {
        margin-top: 12rem;
        padding: 0 6vw;
        padding-bottom: 4rem;
    }

    &__rating {
        display: flex;
        gap: 2rem;

        &-item {
            display: flex;
            gap: .5rem;
            align-items: center;
            font-size: 1.6rem;
        }

        &-count {
            color: c.$gray-dark-3;
        }
    
        &-link {
            cursor: pointer;
            text-decoration: none;
        }
    }

    &__button {
        outline: none;
        border: none;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &--back {
            font-size: 1.6rem;
            color: c.$primary;
            text-decoration: underline;
        }

        &--order {
            font-size: 1.6rem;
            font-family: Poppins, Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            background: g.$primary;
            box-shadow: 0 0 .5rem rgba(c.$black, .15);
            padding: 1rem 1.5rem;
            border-radius: 10rem;
            color: c.$white;
        }
    }

    &__heading {
        &--main {
            margin-top: 5vh;
            line-height: 1;
            margin-bottom: 3rem;
        }

        &--ingredients,
        &--description,
        &--reviews {
            font-size: 1.8rem;
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-weight: 500;
            position: absolute;
            background-color: c.$white;
            color: c.$gray-dark-1;
            padding: 0 1.25rem;
            width: min-content;
            transform: translate(-50%, -50%);
            top: 0;
            left: 50%;
        }
    }

    &__details {
        margin-top: 3rem;

        &-list {
            list-style: none;
        }
    }

    &__detail {
        display: flex;
        font-size: 1.4rem;

        &-name {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            line-height: 1.3;
            min-width: 10rem;
            color: c.$gray-dark-1;
        }
        
        &-value {
            font-weight: bold;
            color: c.$gray-dark-3;
        }
    }

    &__price {
        margin-top: 5rem;
        font-size: 4rem;
    }

    &__order {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        width: max-content;
        gap: 2rem;

        &-component {
            button {
                background: g.$primary;
                color: c.$white;
            }
        }

        &-text {
            font-size: 1.6rem;
            color: c.$gray-dark-3;
        }
    }

    &__ingredients,
    &__description,
    &__reviews {
        position: relative;
        margin-top: 2rem;
        padding: 2.5rem 0;
        border-top: 1px solid c.$gray-light-3;
    }

    &__ingredients {
        margin-top: 8rem;

        &-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            column-gap: 1rem;
            row-gap: .5rem;
        }
    }

    &__ingredient {
        white-space: nowrap;
        font-size: 1.6rem;
        padding: .5rem 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        color: c.$white;
        font-weight: 600;
        text-shadow: 0 0 .3rem rgba(c.$black, .2);
        background: g.$primary;
    }

    &__reviews {
        padding-top: 1.5rem;
    }

    &__description {
        &-text {
            color: c.$gray-dark-3;
            line-height: 1.5;
            font-size: 1.6rem;
            text-indent: 1.75em;
        }

        &-paragraph:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    @include respond(tab-port) {
        flex-direction: column;

        &__gallery {
            width: s.$dish-gallery-width-mobile;
            height: calc(100vh - 18rem);
            padding-top: 0;
        }

        &__content {
            z-index: 1;
            padding-bottom: 0;
            margin: 0;
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                z-index: -1;
                background-color: c.$white;
            }
        }

        &__button {
            &--back {
                position: fixed;
                z-index: -1;
                top: 2rem;
                left: 0;
                padding: 1rem 3rem 1rem 2rem;
                color: c.$white;
                text-decoration: none;
                transition: margin .4s .15s ease-in-out;
                
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background-color: c.$black;
                    opacity: .35;
                    z-index: -1;
                    border-top-right-radius: 10rem;
                    border-bottom-right-radius: 10rem;
                }
            }
        }

        &__details {
            margin-top: 4rem;
        }

        &__order {
            display: grid;
            grid-template-areas: 
                "order  text"
                "button button";
            max-width: 100%;

            &-text {
                grid-area: text;
            }

            &-component {
                grid-area: order;
            }
        }

        &__button--order {
            grid-area: button;
            justify-self: flex-start;
        }
    }
}

// FIX for open mobile nav-bar animation (content shifting to the right)
@include respond(tab-port) {
    .content.nav-open .dish-page__button--back {
        $translate: max(10vw, 15rem);
        margin: 0 calc(-1 * $translate) 0 $translate;
    }
}
