@use '../helpers/colors' as c;
@use '../helpers/gradients' as g;
@use '../helpers/mixins' as *;

.dish-page {
    height: 200vh;
    position: relative;
    display: flex;
    
    &__left {
        width: 40vw;
        height: 200vh;
        position: relative;
    }

    &__right {
        margin-top: 18rem;
    }
}
