@use '../helpers/gradients' as g;
@use '../helpers/colors' as c;

.content {
    transition: margin .3s ease-in;
    
    &.nav-open {
        transition: margin .35s .13s ease-in-out;
        $translate: max(10vw, 15rem);
        margin: 0 calc(-1 * $translate) 0 $translate;
    }
}
